<h2 class="page-header">Rejestracja</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Imie</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Nazwa konta</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control" />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" />
  </div>
  <div class="form-group">
    <label>Haslo</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control" />
  </div>
  <div class="btn-group pull-right">
      <input type="submit" class="btn btn-primary " value="Potwierdz"/>
  </div>

</form>
