<div class="jumbotron text-center">
  <h1>MEAN app</h1>
  <p clas="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis risus quis varius efficitur. In lectus felis, convallis in pulvinar quis, vulputate sed augue. Proin fermentum tempus dolor, sed porttitor lectus porta at.
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Rejestracja</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Logowanie</a>
  </div>
</div>
